body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#title-h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#saveList {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #ffffff;
    width: 300px;
    margin-bottom: 10px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3700b3;
}

#todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 300px;
}

#todo-list li {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-list li:hover {
    background-color: #292929;
}
